<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1n">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 2n">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 3n">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 4n">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 5n">
	<match url="^logout(|/)$"  />
	<action type="Rewrite" url="/./logout.php"  />
</rule>
<rule name="rule 6n">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 7n">
	<match url="^disconnected(|/)$"  />
	<action type="Rewrite" url="/./disconnected.php"  />
</rule>
<rule name="rule 8n">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 9n">
	<match url="^feed(|/)$"  />
	<action type="Rewrite" url="/./feed.php"  />
</rule>
<rule name="rule 10n">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 11n">
	<match url="^photos(|/)$"  />
	<action type="Rewrite" url="/./photos.php"  />
</rule>
<rule name="rule 12n">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 13n">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 14n">
	<match url="^articles(|/)$"  />
	<action type="Rewrite" url="/./articles.php"  />
</rule>
<rule name="rule 15n">
	<match url="^team(|/)$"  />
	<action type="Rewrite" url="/./team.php"  />
</rule>
<rule name="rule 16n">
	<match url="^community(|/)$"  />
	<action type="Rewrite" url="/./community.php"  />
</rule>
<rule name="rule 17n">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
<rule name="rule 18n">
	<match url="^way(|/)$"  />
	<action type="Rewrite" url="/./way.php"  />
</rule>
<rule name="rule 19n">
	<match url="^developer(|/)$"  />
	<action type="Rewrite" url="/./developer.php"  />
</rule>
<rule name="rule 20n">
	<match url="^error(|/)$"  />
	<action type="Rewrite" url="/./error.php"  />
</rule>
<rule name="rule 21n">
	<match url="^formnews/(..*)$"  />
	<action type="Rewrite" url="/./formnews.php?url={R:1}"  />
</rule>
<rule name="rule 22n">
	<match url="^vipbuy(|/)$"  />
	<action type="Rewrite" url="/./vipbuy.php"  />
</rule>
<rule name="rule 23n">
	<match url="^vipshop(|/)$"  />
	<action type="Rewrite" url="/./vipshop.php"  />
</rule>
<rule name="rule 24n">
	<match url="^famous(|/)$"  />
	<action type="Rewrite" url="/./famous.php"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>