<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1f">
	<match url="^login/?$"  />
	<action type="Rewrite" url="/login.php"  />
</rule>
<rule name="rule 2f">
	<match url="^/?$"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
<rule name="rule 3f">
	<match url="^inicio/?$"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
<rule name="rule 4f">
	<match url="^deslogar/?$"  />
	<action type="Rewrite" url="/index.php?deslogar"  />
</rule>
<rule name="rule 5f">
	<match url="^pagina/([a-z0-9_]+)/desmarcar/([0-9]+)/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=desmarcar&amp;dia={R:2}&amp;hora={R:3}"  />
</rule>
<rule name="rule 6f">
	<match url="^pagina/([a-z0-9_]+)/marcar/([0-9]+)/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=marcar&amp;dia={R:2}&amp;hora={R:3}"  />
</rule>
<rule name="rule 7f">
	<match url="^pagina/([a-z0-9_]+)/apagar/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=apagar&amp;id={R:2}"  />
</rule>
<rule name="rule 8f">
	<match url="^pagina/([a-z0-9_]+)/editar/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=editar&amp;id={R:2}"  />
</rule>
<rule name="rule 9f">
	<match url="^pagina/([a-z0-9_]+)/adicionar/([0-9]+)/editar/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=adicionar&amp;cargo_id={R:2}&amp;pag_id={R:3}"  />
</rule>
<rule name="rule 10f">
	<match url="^pagina/([a-z0-9_]+)/adicionar/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=adicionar&amp;cargo_id={R:2}"  />
</rule>
<rule name="rule 11f">
	<match url="^pagina/([a-z0-9_]+)/criar/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;tipo=criar"  />
</rule>
<rule name="rule 12f">
	<match url="^pagina/([a-z0-9_]+)/dia/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;dia={R:2}"  />
</rule>
<rule name="rule 13f">
	<match url="^pagina/([a-z0-9_]+)/lista/([0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}&amp;pagina={R:2}"  />
</rule>
<rule name="rule 14f">
	<match url="^pagina/([a-z0-9_]+)/?$"  />
	<action type="Rewrite" url="/index.php?diretorio={R:1}"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>